
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Link
Name=A Logic of Object-Oriented Programs
Comment=
Icon=gnome-fs-bookmark
URL=http://books.google.de/books?hl=de&lr=&id=vpdWqtu4XC4C&oi=fnd&pg=PA11&dq=hoare+logic+object&ots=PBNMGMvf1h&sig=wb8T3Iw_K6j_mLObJNc1yMGyXDc
