
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Link
Name=A Syntax-Directed Hoare Logic for Object-Oriented Programming Concepts
Comment=
Icon=gnome-fs-bookmark
URL=http://books.google.de/books?hl=de&lr=&id=cMXOrCcczlYC&oi=fnd&pg=PA64&dq=hoare+logic+object&ots=Snq2pdFn7y&sig=iNdTZKGgtLITfzF0lyjkm_v8KGs
