
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Link
Name=Andrew Pitts (Homepage)
Comment=
Icon=gnome-fs-bookmark
URL=http://www.cl.cam.ac.uk/~amp12/
