
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Link
Name=Hoare Logic for NanoJava: Auxiliary Variables, Side Effects, and Virtual Methods Revisited
Comment=
Icon=gnome-fs-bookmark
URL=http://books.google.de/books?hl=de&lr=&id=0FTSYjbQ5DAC&oi=fnd&pg=PA89&dq=hoare+logic+object&ots=dcMntQZ6pk&sig=BxzJeEqc2xMDI2_SFXh8JzM5Grk
