
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Type=Link
Name=Operational Semantics and Program Equivalence
Comment=
Icon=gnome-fs-bookmark
URL=http://books.google.de/books?hl=de&lr=&id=0sqqWVhoN70C&oi=fnd&pg=PA378&dq=andrew+pitts+stark&ots=UzeZclMjvs&sig=H8wivonxP8zZE43hWDgEJZ1oXPk#PPA379,M1
